<nav>
    <div class="logo">
        <h2>Nooter</h2>
    </div>
    <ul>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/notes/create">New Note</a></li>
        <li><a href="/about">About us</a></li>
    </ul>
</nav>